CREATE TABLE {{ name }} (
  eid uuid PRIMARY KEY,
  txid uuid,
  created_at timestamptz default now(),
  modified_at timestamptz,
  content {{ type }}
) WITH (OIDS=FALSE);

INSERT INTO dbschema (ident, opts, modified_at)
  VALUES ('{{ name }}', ?, now());